@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.container .header {
  float: left;
  position: absolute;
  top: 50%;
  /*transform: translateY(-50%);*/
  transform: translate(-50%, -50%);
}

.container .header div {
  height: 100%;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 35px;
  font-weight: 200;
  padding: 10px;
}

.container .header div span {
  color: #5379fa !important;
}

.container .form {
  float: left;
  box-sizing: border-box;
  top: 50%;
  transform: translateX(50%);
  width: 100%;
  max-width: 350px;
  padding: 10px;

  text-align: center;
}

.container .form div {
  display: inline-block;
}

.container .form input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: #fff;
  padding: 4px 4px 4px 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;

  display: inline-block;
}

.container .form input[type=checkbox] {
  width: 16px;
  height: 16px;
  margin: 3px;
  margin-bottom: 10px;
}

.container .form label {
  display: flex;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.container .form input[type=submit] {
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  color: #a18d6c;
  padding: 6px;
}

.container .form input[type=submit]:hover {
  opacity: 0.8; }

.container .form input[type=submit]:active {
  opacity: 0.6; }

.container .form input[type=text]:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9); }

.container .form input[type=password]:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9); }

.container .form input[type=submit]:focus {
  outline: none; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6); }

::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.6); }

@media (max-width: 768px) {
  .container {
    width: 80%;
    max-width: 350px;
  }
  .container .header {
    position: static;
    transform: none;
    width: 100%;
  }
  .container .form {
    position: static;
    transform: none;
  }
}