body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #fff;
}

.body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-image: url(https://picsum.photos/1920/1080);
    background-size: cover;
    z-index: -2;
}

.grad {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0.7;
}